.slider{
    height: 100vh;
    position: relative;
    z-index: 1;
}
.slider-item01{
    background: url(../img/img_01.jpg);
}
.slider-item02{
   background: url(../img/img_02.jpg);
}
.slider-item03{
   background: url(../img/img_03.jpg);
}
.slider-item{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
/* 左右のボタン */
.slick-prev,.slick-next{
    position: absolute;
    z-index: 3;
    top:42%;
    height: 25px;
    width: 25px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
   cursor: pointer;
   outline: none;
}
.slick-prev{
    transform: rotate(-135deg);
    left: 3%;
}
.slick-next{
    transform: rotate(45deg);
    right: 3%;
}
/* 下のドット */
.slick-dots {
	position: relative;
	z-index: 3;
    text-align:center;
	margin:-50px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}
.slick-dots button{
    height: 8px;
    width: 8px;
  background-color: #ccc;
    border-radius: 50%;
    display: block;
    outline: none;
    color: transparent;


    /* color transparentはなのために？？？？？ */
}
.slick-dots .slick-active button{
    background-color: #333;
}
